<div class="flipper" ng-mouseenter="over = true" ng-mouseleave="over = false">
    {{over ? 'Over!' : 'Not Over :('}};
    <div class="front">
        <div class="left-padding"></div>
        <div class="person-identity">
            <span class="name">{{vm.contact.name}}</span>
            <span class="title">{{vm.contact.title}}</span>
        </div>
        <div class="person-contact">
            <span>{{vm.contact.email}}</span>
            <span>{{vm.contact.phone}}</span>
        </div>
    </div>
    <div class="back">
        <div class="one-liner">{{vm.contact.oneLiner}}</div>
    </div>
</div>