<div class="flipper" ng-mouseenter="over = true" ng-mouseleave="over = false">
    <div class="front">
        <div class="left-padding"></div>
        <div class="person-identity">
            <span class="name">{{vm.name}}</span>
            <span class="title">{{vm.title}}</span>
        </div>
        <div class="person-contact">
            <span>{{vm.email}}</span>
            <span>{{vm.phone}}</span>
        </div>
    </div>
    <div class="back">
        <div class="one-liner">{{vm.oneLiner}}</div>
    </div>
</div>