@import url(https://fonts.googleapis.com/css?family=Droid+Sans+Mono|Roboto);
.tw-business-card {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  perspective: 1000;
}
.tw-business-card:hover .flipper,
.tw-business-card.hover .flipper {
  transform: rotateY(180deg);
}
.tw-business-card,
.tw-business-card .front,
.tw-business-card .back {
  width: 344px;
  height: 198px;
}
.tw-business-card .flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.tw-business-card .front,
.tw-business-card .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background: #FAFAFA;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  border-radius: 3px;
}
.tw-business-card .front {
  z-index: 2;
  transform: rotateY(0deg);
}
.tw-business-card .back {
  font-family: 'Droid Sans Mono', monospace;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}
.tw-business-card .left-padding {
  position: absolute;
  width: 50px;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  content: "";
}
.tw-business-card .person-identity {
  position: absolute;
  margin-left: 50px;
  padding-left: 20px;
  padding-top: 20px;
  height: 134px;
  width: 294px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.tw-business-card .person-identity .name {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
  line-height: 28px;
}
.tw-business-card .person-identity .title {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.24);
}
.tw-business-card .person-contact {
  position: absolute;
  margin-left: 50px;
  margin-top: 134px;
  padding-left: 20px;
  padding-top: 10px;
  color: #009688;
  line-height: 16px;
  font-size: 14px;
}
.tw-business-card .one-liner {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.tw-business-card span {
  display: block;
}
.tw-business-card span + span {
  margin-top: 8px;
}
